<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://jelix.org/ns/module/1.0">
    <info id="jminify@modules.jelix.org" name="jminify" createdate="2015-05-20">
        <version date="2023-11-14">2.0.0-pre</version>
        <label lang="en_US">Minify support</label>
        <description lang="en_US">Provides Minify features for an HTML response</description>
        <license URL="http://www.gnu.org/licenses/old-licenses/lgpl-2.1.html">LGPL 2.1</license>
        <copyright>2015-2023 Laurent Jouanneau and other contributors</copyright>
        <creator name="Laurent Jouanneau" email="laurent@jelix.org"/>
        <homepageURL>https://jelix.org</homepageURL>
    </info>
    <autoload>
        <namespacePathMap name="Jelix\Minify" dir="lib/" />
    </autoload>
</module>
